.Button {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  align-self: center;
  border-radius: 100px;
  border: 2px solid #3c3c3c;
  padding: 4px 14px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 80px;
  color: #fff;
  background-color: #3c3c3c;
  box-shadow: none;
}

.Button:hover,
.Button:hover:active,
.Button:active,
.Button:focus {
  background-color: #8B0000;
  font-weight: bold;
  color: #fff;
  border: 2px solid #8B0000;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

/* to override default blue and box-shadow! */
.Button:not(:disabled):not(.disabled):active,
.Button:not(:disabled):not(.disabled).active,
.show > .Button.dropdown-toggle {
  color: #fff;
  background-color: #8B0000;
  border-color: #8B0000;
  box-shadow: none;
}

.Button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
