.Container {
    min-height: 343px;
}

.Form {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.Form textarea {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.customCheckbox {
    margin-top: 30px;
}

.customCheckbox label {
    font-size: .85rem;
    font-weight: normal;
    color: #333;
}

input[type="file"] {
    display: none;
}

label {
    font-weight: bold;
}

.uploadIcon {
    cursor: pointer;
    margin-top: 54px;
    margin-bottom: 40px;
}
