.caretIcon {
  font-size: 2rem;
  color: #FFDAB9;
}

.caretIcon:hover {
  color: #3c3c3c;
}

.DropdownItem {
  display: inline-block;
  font-weight: bold;
  max-width: 50%;
  padding: 0px;
}

.DropdownItem:hover {
  color: #8B0000;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
