.caretIcon {
  font-size: 2rem;
  color: #FFDAB9;
}

.caretIcon:hover {
  color: #3c3c3c;
}

.DropdownItem {
  padding: 10px;
}

.DropdownItem:hover {
  font-weight: bold;
  color: #8B0000;
}

.DropdownMenuBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
