.SearchBar input {
  background: #fff;
  border: 2px solid #FFDAB9;
  border-radius: 20px;
  color: #3c3c3c;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchBar input:focus {
  outline: #3c3c3c;
  border: 2px solid #FFDAB9;
  box-shadow: 0 0 0 2px #ffdab9;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #8B0000;
}