.Post {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #FFDAB9;
  border-radius: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.PostImage {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
}

.Post a {
  font-family: "Quicksand", sans-serif;
  color: #3c3c3c;
  font-weight: bold;
  text-decoration: none;
}

.Post a:hover {
  color: #8B0000;
  font-weight: bolder;
  text-decoration: none;
}

.IconsBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Heart,
.Comment,
.Bookmark {
  cursor: pointer;
  color: #3c3c3c;
}

.Heart:hover,
.Comment:hover,
.Bookmark:hover {
  color: #8B0000;
}

.Comment,
.Bookmark {
  margin-left: 20px;
}

.DropdownContainer {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 99;
}
