h5 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

h6 {
    margin-bottom: 30px;
}

.UserActivity p {
    font-size: 110%;
    margin-left: 50px;
    margin-bottom: 0;
}

.UserActivity p.NoContent {
    font-size: 100%;
}

.UserActivity hr {
    display: none;
}

hr.notHidden {
    display: block;
    margin-bottom: 0px;
}

.tabPosition {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.LikesBookmarks_MediaBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    width: 95%;
}

.Header {
    text-align: left;
    margin-top: 30px;
    margin-left: 88px;
    margin-bottom: 0;
}

.PostTitle {
    margin-left: 50px;
    margin-bottom: 0;
}

h6 span,
h6 a {
    font-weight: bold;
    color: #3c3c3c;
    text-decoration: none;
}

h6 span:hover,
h6 a:hover {
    color: #8B0000;
    text-decoration: none;
    cursor: pointer;
}

.TabLink {
    text-transform: uppercase;
    font-weight: bold;
    color: #3c3c3c;
    text-decoration: none;
}

.TabLink i {
    font-size: 0.8rem;
    padding: 5px;
}

.TabLink_active,
.TabLink_active i,
.TabLink:hover {
    color: #8B0000;
    font-size: 1.25rem;
    text-transform: capitalize;
    cursor: pointer;
}

.Date {
    font-weight: 300;
    font-size: .8rem;
    color: #8e9aaf;
    text-align: right;
    margin-right: 10px;
}