.App {
    font-family: "Quicksand", sans-serif;
    color: #000;
    background-color: #fff;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  a:hover i {
    color: #8B0000;
  }
  
  a:hover {
    color: #000;
    font-weight: bolder;
    text-decoration: underline;
  }
  
  i {
    color: #3c3c3c;
    font-size: 0.8rem;
    padding: 5px;
    vertical-align: top;
  }
  
  i:hover {
    cursor: pointer;
  }