.App {
  font-family: "Quicksand", sans-serif;
  color: #3c3c3c;
  background-color: #fff;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  color: #3c3c3c;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover i {
  color: #8B0000;
}

a:hover {
  color: #000;
  font-weight: bolder;
  text-decoration: underline;
}

i {
  color: #3c3c3c;
  font-size: 0.8rem;
  padding: 5px;
  vertical-align: top;
}

i:hover {
  cursor: pointer;
}
